/* PORTFOLIO PAGE */

.portfolioHeader{
  text-align: center;
  padding: 10px;
}

.portfolioCard{
  margin: 20px !important;
}

/* NAV */

.navbar{
  background-color: #b2dfdb !important;
  margin-bottom: 10px !important;
}
/* FOOTER */

.footerSection {
  color: black !important;
}

.footerLinks {
  padding-right:20px;
  color: black !important;
}